{
  "presets": ["babel-preset-expo"],
    "exclude": [
      "node_modules/aws-sdk/dist/aws-sdk-react-native.js"
    ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}